/* CSS Variables! For color palettes & consistency */
:root {
    --accent: #5826ba;
    --accent-lt: #a888e8eb;
    --accent-dk: #2c0b6ef7;
    
}



body {
    background: var(--accent-lt);
    color:var(--accent-dk);
}

h1 {
    color:chartreuse;
    font-style: oblique;
    text-align: left;
    text-shadow: 2px 2px 0px white;
}

p {
    background: fuchsia;
    font-weight: 90000000000000000000000000000000000px;
    padding:10px;
    border: 2px solid black;
}


ul, dl {
    border-color: val(--accent);
}


footer {
    background: val(--accent-dk);
    
}